$gray : #e8e8e8;
$gray100: #9D9D9F;
$gray200: #454545;
$main: #373f50;
$blue: #5085e8;
$black: #262626;
$white200: #fafafa;

#root{ 
    .mainFeed{
        padding-top:54px;
        background-color: $white200;
        min-height: 100vh;
        .wrapper{
            width: 1000px;
            margin:  0 auto;
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding-top:30px;
            .feed-list{
                width: 729px;
                .write-feed{
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 20px 24px;
                    border:1px solid $gray;
                    .profile-image{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: $gray;
                        margin-right: 12px;
                    }
                    .inp{
                        flex:1;
                        input{
                            font-size: 12px;
                            color:$gray200;
                            border:none;
                            &::placeholder{
                                color:$gray;
                            }
                        }
                    }
                    .get-image{
                       label{
                           width: 30px;
                           display: flex;
                           align-items: center;
                       } 
                      input{display: none;}
                    }
                }
                .feed{
                    border:1px solid $gray;
                    background-color: #fff;
                    margin-top: 25px;
                    padding: 20px 24px;
                    .top{
                        display: flex;
                        align-items: center;
                        .profile-image{
                            width: 40px;
                            height:40px ;
                            border-radius:50%;
                            background-color: $gray;
                            margin-right: 12px;
                        }
                        .profile-desc{
                            .nickname{
                                font-size:14px;
                                color:$gray200
                            }
                            .timestamp{
                                font-size: 10px;
                                color:$gray200;
                                opacity: 0.5;
                                margin-top: 2px;
                            }
                        }
                    }
                    .contents{
                        margin-top:48px;
                        font-size: 12px;
                        color:$gray200;
                        line-height: 1.8;
                        .image{
                            width: 100%;
                            height: 310px;
                            background-color: $gray;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            margin-top: 25px;
                        }
    
                    }
                    .bottom{
                        display: flex;
                        align-items: center;
                        margin-top: 25px;
                        .like,.comment{
                            display: flex;
                            align-items: center;
                            .asset{
                                width: 32px;
                                display: flex;
                                align-items: center;
                                margin-right: 12px;
                            }
                            .count{
                                font-size: 16px;
                                color:$gray100;
                            }
                            
                        }
                        .like{
                            margin-right: 24px;
                        }
                    }
                }
            }
            .friend-list{
                position: sticky;
                top:84px;
                padding: 20px 16px;
                width: 246px;
                border:1px solid $gray;
                background-color: #fff;
                .my-profile{
                    display: flex;
                    align-items: center;
                    .profile-image{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: $gray;
                        margin-right: 12px;
                    }
                    .nickname{
                        font-size: 12px;
                        color:$gray200;
                    }
                }
                .my-friends{
                    margin-top: 14px;
                    &>.title{
                        font-size: 10px;
                        color:$gray100
                    }
                    .friends{
                        display: grid;
                        row-gap: 8px;
                        margin-top: 14px;
                        .friend{
                            display: flex;
                            align-items: center;
                            .profile-image{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background-color: $gray;
                                margin-right: 12px;
                            }
                            .nickname{
                                font-size: 12px;
                                color:$gray200
                            }

                        }
                    }
                }
            }
          
        }/* wrapper */
    }/* mainFeed */
}/* root */